{{define "content"}}
<div class="page-head store-heading"><h1>Top Charts</h1><p>Самые популярные приложения LegacyStore.</p></div>
<div class="rank-list">
{{range $index, $app := .Apps}}
  <a class="rank-row" href="/app/{{$app.Slug}}">
    <span class="rank-number">{{printf "%d" $index}}</span>
    <span class="rank-icon">{{if $app.Icon}}<img src="{{$app.Icon}}" alt="">{{else}}<b>{{initial $app.Name}}</b>{{end}}</span>
    <span class="rank-copy"><strong>{{$app.Name}}</strong><small>{{$app.Category}}</small><em>{{$app.Summary}}</em></span>
    <span class="rank-meta">★ {{printf "%.1f" $app.Rating}}<br>{{$app.Downloads}} загрузок</span>
  </a>
{{else}}<div class="empty">Каталог пока пуст.</div>{{end}}
</div>
{{end}}